body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-one {
    display: flex;
    flex-direction: column;
    background-color: #377cad;
    justify-content: center;
    gap: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 225px
}

.logo {
    width: 100px;
}

.left-links, .right-links {
    display: flex;
    align-items: center;
}

.right-links {
    gap: 30px;
    font-family: Roboto, sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 22px;
}

img {
    border-radius: 8px;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-left: 225px;
    margin-right: 225px;
    margin-bottom: 100px;
    gap: 36px;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    max-width: 300px;
    font-family: Roboto, sans-serif;
    color: white;
}

.content {
    font-size: 18px;
    max-width: 300px;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
}

.top-button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #aff0b5;
    padding: 12px 20px;
}

.content-img {
    width: auto;
    height: 300px;
}

.card-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    font-size: 48px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    margin-bottom: 36px;
    margin-top: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-img {
    height: 150px;
    width: 150px;
    border: 3px solid #295e2e;
}

.text {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #377cad;
}

.card-three {
    background-color: #60947d;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.quote {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    padding: 36px;
    margin: 50px 50px 0px 50px;
}

.author {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-align: right;
    font-weight: 700;
    margin: 0px 50px 50px 50px;
}

.card-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box {
    background-color: #377cad;
    padding: 36px;
    margin: 100px 75px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 8px;
}

.box-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
}

.box-title {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.box-content {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
}

.box-button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #377cad;
    color: white;
    padding: 8px 16px;
    font-size: 18px;
}

.footer {
    background-color: #60947d;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-content {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
    margin: 30px 0px;
}